.theme {
    position:relative;
    top:0px;
    left:0px;
    width:600px;
    height:600px;
}
.theme-analog-wrapper {
    position:absolute;
    top:171px;
    left:126px;
    height:50px;
    width:50px;
    border-radius:100%;
}
.theme-analog-right-wrapper {
    position:absolute;
    top:298px;
    left:418px;
    height:50px;
    width:50px;
    border-radius:100%;
}
.theme-analog {
    position:absolute;
    top:50%;
    left:50%;
    width:60px;
    height:60px;
    margin-left:-30px;
    margin-top:-30px;
    background:#00FF00;
    border-radius:100%;
    border:3px solid #00FF00;
    box-shadow:0 0 10px rgba(0, 0, 0, 0);
    background: #00FF00;
}
.theme-analog.active {
    background:#00FF00;
    border-color:#00FF00;
}
.theme-button.active{
    fill:red !important;
}
.theme-button.active *{
    fill:red !important;
}
.theme-label.active{
    fill:red !important;
}
.theme-label.active *{
    fill:red !important;
}